extends layout

block content
    mixin add(p)
        tr
            td= p.name
            td= p.price
    .content-grids
        table
            +add({name: 'Название', price: 'Цена'})
            for i in list
                +add(i)

        -if (auth)
                a(href='/order') Заказать
        -if (!auth)
                p='АВторизуйтесь, чтобы сделать заказ'


