extends layout

block content
    mixin add(p)
        tr
            td= (auth=='adm') ? p.prodID : p.name
            td= (auth=='adm') ? p.userID : p.price
    .content-grids
        table
            +add({name: (auth=='adm') ? 'ID товара' : 'Название', price: (auth=='adm') ? 'ID пользователя' : 'Цена'})
            for i in list
                +add(i)
        -if (auth != 'adm')
            -if (auth)
                a(href='/order') Заказать
            -if (!auth)
                p='Авторизуйтесь, чтобы сделать заказ'


