extends layout

block content
    .clearfix
    .content
        .sport-your
            .line2
        .content-grids
            -if (s)
                h3=s
            h1 Вы находитесь на сайте аренды туристического оборудования.
            p Для того, чтобы сделать заказ, пожалуйста, авторизуйтесь.