html
    head
    body
        form(action='register' method="POST" autocomplete='on')
            h1  Sign up
            h4=error
            p
                label(for='usernamesignup', data-icon='u') Your username
                input#usernamesignup(name='usernamesignup',class="login", required='required', type='text', placeholder='mysuperusername690')
                div(class="ajaxstring")
            p
                label(data-icon='n') Name
                input(name='name', required='required', type='text', placeholder='Вася Пупкин')
            p
                label.youmail(for='emailsignup', data-icon='e')  Your email
                input#emailsignup(name='emailsignup', required='required', type='email', placeholder='mysupermail@mail.com')
            p
                label.youpasswd(for='passwordsignup', data-icon='p') Your password
                input#passwordsignup(name='passwordsignup', required='required', type='password', placeholder='eg. X8df!90EO')
            p
                label.youpasswd(for='passwordsignup_confirm', data-icon='p') Please confirm your password
                input#passwordsignup_confirm(name='passwordsignup_confirm', required='required', type='password', placeholder='eg. X8df!90EO')
            p.signin.button
                input(type='submit', class="submit", value="Sign up")
        script.
            $('.submit').click(function (e) {
                e.preventDefault();
                var data = {login: $("input#usernamesignup").val()};
                alert("1");
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'json',
                    url: '/checklogin',
                    success: function (data) {
                        $("div.ajaxstring").html("boom");
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            });
