extends layout

block content
    .clearfix
    .container
        .single
            .col-md-9.top-in-single
                .col-md-5.single-top
                    #etalage
                        img.etalage_thumb_image.img-responsive(src="images/id" + prod.id + ".jpg", alt='')
                .col-md-7.single-top-in
                    .single-para
                        h4=prod.name
                        h6=prod.color
                        p=prod.description
                        label.add-to=prod.price
                        a(href="/product/buy=" + id)
                            label.add-to Арендовать
                .clearfix
            .clearfix